dj-database-url==0.4.1
Django==1.10.3
django-crispy-forms==1.6.0
django-multiupload==0.5.2
Pillow==3.3.0
python-slugify==1.2.1
translate==2.0.0
translit==0.2a1
transliterate==1.8.1
Unidecode==0.4.19
Unipath==1.1
