{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="max-age=0" />

    <meta property="og:image" content="{% static 'images/share.jpg' %}" />
    <meta property="og:description" content="Конкурс на полевое исследвоание в Африке южнее Сахары" />
    <meta property="og:title" content="{{name}}" />

    {{form.media}}
    <title>{{name}}</title>
    <link rel="icon"
      type="image/png"
      href= {% static "images/favicon.ico" %}>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.5/css/fileinput.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    {% block styles %}

    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock content%}
<footer class="panel-footer panel-custom my-link">
   <div class="container">
         <div class="col-xs-12 col-sm-4 text-left">
Скачать:
<ul>
<li>Условия конкурса <a href="{% static 'docs/grant-afrika.rtf' %}" download>rtf<span class="glyphicon glyphicon-file" aria-hidden="true"></span></a><a href="{% static 'docs/grant-afrika.pdf' %}" download>pdf<span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>
</li>
<li>
Объявление о конкурсе <a href="{% static 'docs/advertisement.pdf' %}" download>pdf<span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>
</li></ul>
</div>
         <div class="col-xs-12 col-sm-4">
              <div class="text-center lead"> <a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Грант "Африка"</a> </div>
         </div>
         <div class="col-xs-12 col-sm-4 text-center">
<a href="/contact"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Свяжитесь с нами</a>
         </div>
       </div>
 </footer>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.5/js/fileinput.min.js"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="{% static 'js/script.js' %}" charset="utf-8"></script>

</body>
</html>
