{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="max-age=0" />
    {{form.media}}
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.5/css/fileinput.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
{% include "messages_display.html" %}
    <div class="jumbotron">
        <div class="container">
            <h3>ФОНД ПАМЯТИ ЕВГЕНИЯ ШУРЫГИНА ОБЪЯВЛЯЕТ КОНКУРС</h3>
            <h1><i>название?</i></h1><h2>
                грант на полевое исследование в Африке южнее Сахары</h2>
            <div class='hidden-sm'></div>
            <a href="#conditionsh" class="slidedown"><button type="button" class="btn btn-lg btn-success">
                Условия конкурса
            </button></a>
            <a href="#apply" class="slidedown"><button type="button" class="btn btn-lg btn-success">
                Подать заявку
            </button></a>
        </div>
    </div>
    <div class="container">
        <div class="row" id='main-content'>
            <div class="col-md-2"></div>
            <div class="col-md-10 col-sm-12">
                <figure>
                    <img class="img-responsive" src="{%static 'images/Portret.jpg'%}" alt="">
                    <figcaption> Санкт-Петербург, 2011</figcaption>
                </figure>
                <p>Грант учрежден в память о талантливом африканисте Евгении Шурыгине. Он родился в 1990 году, в 2011 году окончил кафедру африканистики Восточного факультета СПбГУ. С 2010 года регулярно вёл полевые исследования в Эфиопии, c 2015 г. работал переводчиком и специалистом-страноведом в Красном Кресте. Евгений преподавал на Восточном факультете, был научным сотрудником Музея истории религии. С 2012 года он был организатором и вдохновителем семинара африканских исследований на базе родной кафедры.</p>
                <br><p>Евгений погиб в 2016 году, когда ему исполнилось 26 лет, но он успел стать для нас образцом того, каким должен быть антрополог-исследователь, как он должен относиться к своей работе, как должен применять в поле знания, полученные в университете.</p>
                <br><p>Ремесло антрополога складывается из умения наблюдать, слышать, понимать и рассказывать. Всеми этими навыками Евгений Шурыгин овладел очень быстро и пользовался ими легко и естественно. Он глубоко изучил теорию полевого исследования и, поставив перед собой цель, строил свой авторский метод для ее достижения. Начинающий ученый, Евгений быстро превращался в профессионального исследователя.</p>
                <br><p>Этот грант призвана поддержать те полевые работы, которые, уверены, поддержал бы Евгений - своими методическими рекомендациями, связями или своим прямым участием. Наконец, добрым словом и дружеским советом. </p>
                <br><p>Надеемся, что яркий старт Евгения Шурыгина послужит вдохновляющим примером для начинающих африканистов, а целевой грант на исследовательскую поездку в память о талантливом антропологе призван способствовать реализации перспективных научных идей, и поможет сделать тот первый шаг, с которого начнется путь профессионала.</p>
            </div>

        </div>
        <div class="row" id='conditions'>
            <h1 id='conditionsh'>Условия конкурса</h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
            {{terms.title}}
            {% for i in terms %}
            <div class="row cond">
                <div class="col-xs-2">
                <div class="circlenum"><span>{{ i.id }}</span></div></div>
                <div class="col-xs-10"> <h2>{{ i.title }}</h2></div>
                <div class="col-xs-2 hidden-xs-down"> </div> <div class="col-xxs col-xs-10">
                    <div class="clearfix visible-xs-block"></div>{{i.cont_marked}}
                    {% if i.id == 2 %}<p style='text-align:right; font-weight:bold;'>{{days_left}}</p>
                    {% elif i.id == 3%}
                    <div class="panel-group">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Рекомендации к написанию обоснования <span class="caret"></span></a>
                          </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                          <div class="panel-body"><p>Вы можете придерживаться данного плана при описании Вашего проекта</p>
                              <ol>
                                  <li><p>Название;</p></li>
                                  <li><p>Цели исследования: какой Ваш основной исследовательский вопрос?</p></li>
                                  <li><p>Историия места или сообщества, если это важно для поставленного вопроса;</p></li>
                                  <li><p>Обзор литературы по теме: что написано на данную тему и как эта литература соотносится с поставленным Вами вопросом?</p></li>
                                  <li><p>Методология: где будет проходить исследование? С каким сообществом Вы будете работать? Какие методы будете использовать? Каков Ваш план проведения исследования? Есть ли у Вас уже контакты в поле или это первая поездка?</p></li>
                                  <li><p>Личная мотивация;</p></li>
                                  <li><p>Библиография.</p></li>
                              </ol></div>
                          <div class="panel-footer"><p>Желательно отразить в тексте, какого рода помощь Вам может быть нужна для осуществления проекта. Организаторы премии в меру своих возможностей готовы оказать помощь и в установлении контактов на месте исследования.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                             {% endif %}
             </div>
            </div>
            {% endfor %}

</div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 space">
      <h1 id='apply'>
      </h1>
      {% crispy form %}
    </div>
</div>

<footer class="panel-footer panel-custom">
   <div class="container">
     <div class="text-center">&copy; Фонд памяти Евгения Шурыгина </div>
   </div>
 </footer>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.5/js/fileinput.min.js"></script>
<script src="{% static 'js/script.js' %}" charset="utf-8"></script>
</body>
</html>
