{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Borana</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- <nav id='mynav' class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="#"></a>
</div>
<ul class="nav navbar-nav">
<li><a href="#">О фонде</a></li>
<li><a href="#">Условия конкруса</a></li>
<li><a href="#">Подать заявку</a></li>
</ul>
</div>
</nav> -->
<div class="jumbotron">
    <div class="container">

        <div></div>
        <h3>ФОНД ПАМЯТИ ЕВГЕНИЯ ШУРЫГИНА УЧРЕЖДАЕТ</h3>
        <h1>Грант на полевое исследование в Африке южнее Сахары</h1>
        <div class='hidden-sm'></div>
        <button type="button" class="btn btn-lg btn-success">
            Подробнее
        </button>
    </div>
</div>
<div class="container">
    <div class="row" id='main-content'>
        <div class="col-md-2"></div>
        <div class="col-md-10 col-sm-12">
            <figure>
                <img class="img-responsive" src="{%static 'images/Portret.jpg'%}" alt="">
            <figcaption> Санкт-Петербург, 2016</figcaption>
        </figure>
            <p>Фонд создан в память о талантливом африканисте Евгении Шурыгине. Он родился в 1990 году, в 2011 году окончил кафедру африканистики Восточного факультета СПбГУ. С 2010 года регулярно вёл полевые исследования в Эфиопии, работал переводчиком и специалистом-страноведом в Красном Кресте. Евгений преподавал на Восточном факультете, был научным сотрудником Музея истории религии. С 2012 года Евгений был организатором и вдохновителем семинара африканских исследований на базе родной кафедры.</p>
            <br><p>Евгений погиб в 2016 году, когда ему исполнилось 26 лет, но он успел стать для нас образцом того, каким должен быть антрополог-исследователь, как он должен относиться к своей работе, как должен применять в поле знания, полученные в университете.</p>
            <br><p>Ремесло антрополога складывается из умения наблюдать, слышать, понимать и рассказывать. Всеми этими навыками Евгений Шурыгин овладел очень быстро и пользовался ими легко и естественно. Он глубоко изучил теорию полевого исследования и, поставив перед собой цель, строил свой авторский метод для ее достижения. Начинающий ученый, Евгений быстро превращался в профессионального исследователя.</p>
            <br><p>Эта премия призвана поддержать те полевые работы, которые, уверены, поддержал бы Евгений - своими методическими рекомендациями, связями или своим прямым участием. Наконец, добрым словом и дружеским советом. </p>
            <br><p>Надеемся, что яркий старт Евгения Шурыгина послужит вдохновляющим примером для начинающих африканистов, а целевой грант на исследовательскую поездку в память о талантливом антропологе поможет реализации перспективных научных идей, став первым шагом, с которого начнется путь профессионала.</p>
        </div>

    </div>
</div>


<ol>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>
    <li>raz</li>

</ol>


<script src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
