{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cache-control" content="max-age=0" />
    {{form.media}}
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.5/css/fileinput.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">
    {# <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
{% include "messages_display.html" %}
    <div class="jumbotron">
        <div class="container">
            <h3>ФОНД ПАМЯТИ ЕВГЕНИЯ ШУРЫГИНА ОБЪЯВЛЯЕТ КОНКУРС</h3>
            <h1>Ньяла</h1><h2>
                (грант на полевое исследование в Африке южнее Сахары)</h2>
            <div class='hidden-sm'></div>
            <a href="#conditionsh"><button type="button" class="btn btn-lg btn-success">
                Условия конкурса
            </button></a>
            <a href="#apply"><button type="button" class="btn btn-lg btn-success">
                Подать заявку
            </button></a>
        </div>
    </div>
    <div class="container">
        <div class="row" id='main-content'>
            <div class="col-md-2"></div>
            <div class="col-md-10 col-sm-12">
                <figure>
                    <img class="img-responsive" src="{%static 'images/Portret.jpg'%}" alt="">
                    <figcaption> Санкт-Петербург, 2011</figcaption>
                </figure>
                <p>Фонд создан в память о талантливом африканисте Евгении Шурыгине. Он родился в 1990 году, в 2011 году окончил кафедру африканистики Восточного факультета СПбГУ. С 2010 года регулярно вёл полевые исследования в Эфиопии, работал переводчиком и специалистом-страноведом в Красном Кресте. Евгений преподавал на Восточном факультете, был научным сотрудником Музея истории религии. С 2012 года он был организатором и вдохновителем семинара африканских исследований на базе родной кафедры.</p>
                <br><p>Евгений погиб в 2016 году, когда ему исполнилось 26 лет, но он успел стать для нас образцом того, каким должен быть антрополог-исследователь, как он должен относиться к своей работе, как должен применять в поле знания, полученные в университете.</p>
                <br><p>Ремесло антрополога складывается из умения наблюдать, слышать, понимать и рассказывать. Всеми этими навыками Евгений Шурыгин овладел очень быстро и пользовался ими легко и естественно. Он глубоко изучил теорию полевого исследования и, поставив перед собой цель, строил свой авторский метод для ее достижения. Начинающий ученый, Евгений быстро превращался в профессионального исследователя.</p>
                <br><p>Эта премия призвана поддержать те полевые работы, которые, уверены, поддержал бы Евгений - своими методическими рекомендациями, связями или своим прямым участием. Наконец, добрым словом и дружеским советом. </p>
                <br><p>Надеемся, что яркий старт Евгения Шурыгина послужит вдохновляющим примером для начинающих африканистов, а целевой грант на исследовательскую поездку в память о талантливом антропологе поможет реализации перспективных научных идей, став первым шагом, с которого начнется путь профессионала.</p>
            </div>

        </div>
        <div class="row" id='conditions'>
            <h1 id='conditionsh'>Условия конкурса</h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="row cond">
                <div class="col-xs-2">
                <div class="circlenum"><span>1</span></div></div>
                <div class="col-xs-10"> <h2>Основные требования к заявке</h2> </div>
                <div class="col-xs-2 hidden-xs-down"> </div> <div class="col-xxs col-xs-10">
<div class="clearfix visible-xs-block"></div>
                    <p>
                        Заявка должна содержать CV кандидата, описание и обоснование проекта, приблизительную смету и сроки поездки (общая длительность поездки не должна превышать три месяца).Также необходимо приложить рекомендацию научного руководителя или заведующего кафедрой. Поездка должна быть согласована с ВУЗом, где обучается соискатель.
                    </p>
                    <p>
                        Соискатель может запросить как полное, так и частичное финансирование своего исследования (софинансирование должно быть отражено в смете).
                    </p>
                </div>
            </div>
            <div class="row cond">
                <div class="col-xs-2">
                <div class="circlenum"><span>2</span></div></div>
                <div class="col-xs-10"> <h2>Сроки подачи заявки</h2> </div>
                <div class="col-xs-2 hidden-xs-down"> </div> <div class="col-xxs col-xs-10">
                    <div class="clearfix visible-xs-block"></div>
                    <p>
                        Отбор заявок осуществляет жюри из ведущих российских исследователей. Все заявки проходят независимое рецензирование; тексты рецензий предоставляются соискателям. Жюри оставляет за собой право отметить и рекомендовать к поддержке (полной или частичной) также и другие заявки, представленные на конкурс, помимо проекта-победителя.
                    </p>
                    <h4>Заявки оцениваются по трём основным критериям:</h4>
                    <ul>
                        <li>грамотность постановки исследовательского вопроса;</li>
                        <li>корректность метода и реальность воплощения;</li>
                        <li>безопасность и этичность исследования.</li>
                    </ul>
                </div>
            </div>
            <div class="row cond">
                <div class="col-xs-2">
                <div class="circlenum"><span>3</span></div></div>
                <div class="col-xs-10"> <h2>Подведение итогов</h2> </div>
                <div class="col-xs-2 hidden-xs-down"> </div> <div class="col-xxs col-xs-10">
                 <div class="clearfix visible-xs-block"></div>
                <p>
                    В срок до 28 февраля жюри объявляет победителя конкурса. Финансирование осуществляется поэтапно по мере развития проекта. Деньги могут быть переданы наличными или банковским переводом
                </p>
                <p>
                    Победитель обязуется предоставить отчёт о поездке в течение 30 дней после ее завершения. Отчет может содержать текст, фотографии, видео и аудио материалы.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 space">
      <h1 id='apply'>
      </h1>
      {% crispy form %}
    </div>
</div>



<script src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{% static 'js/script.js' %}" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.5/js/fileinput.min.js"></script>
</body>
</html>
